<div class="row">
    <div class="col-2">
        <label>@fldLabel:</label>
    </div>
    <div class="col-4">
        <label>@fldValue</label>
    </div>
</div>

@code {
    [Parameter]
    public string fldLabel { get; set; }
    [Parameter]
    public string fldValue { get; set; }
}
